html {
  height: 100%;
  width: 100%;
}

/* Add selectors to make the website look like the following: https://726ccf0a-6b5b-49e1-b58b-2ff592f02da7-00-33tjtum5lnyz8.teams.replit.dev/ */
/* Hints in the README */

body{
  background-color: #d1d1ff;
  font-family: Courier New;
}

.center{
  text-align: center;
}

#size1{
  text-align: center;
  width: 60vw;
}

.small{
  width: 30vw;
  color: #714aa1;
}

#navbar{
  text-align: center;
  background-color:  #6385b0;
  padding: 1px;
}